<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/e30354bacd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Entrar a cuenta</title>
    
    
</head>
<body>
    <header class="main-header">
        <div class = "main-header-logo-busc">
                    <img class = "logo" src="images/logo-mercado-liebre.svg "  alt="Logo de mercado liebre" >
                <div class="buscador">
                    <a href="" class = "icon-buscador">
                        <i class="fas fa-search"></i> 
                    </a>
                        <input class = "buscadorsinborde" type="search" placeholder="Busca tu producto">
                </div>
                <div class = "copy-header" >
                    <p >
                        <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito 
                        </p>
                </div>
            </div>
           
        </div>

        
        <nav class = "contenedor-nav-bar">
    <ul class = "left-navbar">  
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Virtuales</a></li>
        <li><a href="#">Vender ayuda </a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>

    <ul class = "right-navbar">
        <li><a href="/register">  Crea tu cuenta</a><i class="far fa-address-card"></i>     </li>
        <li><a href="/login">  Ingresa</a><i class="fas fa-sign-in-alt"></i>      </li>
        <li><a href="#">  Tus compras</a><i class="fas fa-shopping-basket"></i>  </li>
    </ul>
    </nav>
    <div class="burger-menu" >
        <a href="">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    </header>
    <main>
        <section class="section-form">
            <h2>Ingresar a mi cuenta</h2>
            <form action="login" method="POST">
                    
                        <input type="text" name = "user" placeholder="Nombre de usuario" required>
                        <br>
                        <input  class = "contraseñas" type="password" name="password" id="password" placeholder="Contraseña" min="4" max="20" required>
                    <div class = "botones">
                        <br>
                        <br>
                        <a href="/"><input type="button" value="Enviar"></a>
                        <br>
                    </div>
        </section>
    </main>
    <footer>
        <section>
            <article class= "article-footer">
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article  class= "article-footer">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article  class= "article-footer">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article  class= "article-footer">
            <article class="copyright">
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
        </section>
    </footer>  
</body>
</html>