form input{
    border: 0;
    outline: none;
    padding: 10px 100px 10px 10px;
    border-radius: 5px;
}
.section-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin:20px 0;
}
a{
    text-decoration: none;
    color: #fff;
}
.botones input{
    padding: 10px 111px;
    margin: 5px 0;
    background-color:#1259c3;
    font-weight: bold;
    text-align: center;
}
.botones input:hover{
    background-color:#0022AA;
}
#password{
    display: flex;
    margin: 20px 0 ;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer{
    position:absolute;
    bottom: 10px;
}